doctype html
html(lang="en")
    head
        include ../../../includes/header.pug
        include ../../../includes/mixins
        script(src='/js/sidebar.js', defer)
        script(src='/js/programs.js', defer)
        

        link(rel='stylesheet', href='/css/sidebar.css')
        link(rel='stylesheet', href='/css/index.css')
        link(rel='stylesheet', href='/css/programs.css')
        

    body 
        include ../../../includes/sidebar.pug

        #sidebarExtention.bf-light
            header.text-center.pt-4 
                .large-icon.bg-white.round 
                    if guild.icon
                        img.round(src=guild.iconURL({dynamic: true, size: 128 }), alt = guild.name)
                    else
                        p.abbr #{guild.nameAcronym}
                h4#overview.pt-2 #{guild.name}
            .tabs.navbar-nav
                .category
                a(href = '/servers/' + guild.id).cursor-pointer Overview
                a(href = '/servers/' + guild.id + '/general').cursor-pointer #[i.fas.fa-cogs.ps-2.text-muted] General
                a(href = '/servers/' + guild.id + '/moderation').cursor-pointer #[i.fas.fa-hammer.ps-2.text-muted] Moderation
                a(href = '/servers/' + guild.id + '/management').cursor-pointer #[i.fas.fa-users-cog.ps-2.text-muted] Team Management
                a(href = '/servers/' + guild.id + '/stores').cursor-pointer #[i.fas.fa-store-alt.ps-2.text-muted] Stores
                a(href = '/servers/' + guild.id + '/programs').cursor-pointer #[i.fas.fa-hiking.ps-2.text-muted] Programs
                a(href = '/servers/' + guild.id + '/stats').cursor-pointer #[i.fas.fa-chart-line.ps-2.text-muted] Stats

        include ../../../includes/navbar.pug

        section#mainContent
            h1.display-5.text-center Programs
            p.lead.text-center Create or edit programs for your server.
            hr.pt-1(style={'background-color': 'white', size: '0.45px', opacity: '1', width: '400px', 'margin-left': 'auto', 'margin-right': 'auto'})
            if !guildExists
                h3.text-center(style={'font-style': 'italic', color: 'red'}) Please use the ~initiate command before attempting to change settings
            else
                .container(style={'background-color' : 'rgb(3, 5, 15)'})
                    h2.text-center Edit Program ##{num}
                    p.lead.text-center #{program[0]['Name']}
                    form#editProgramForm(name = 'editProgramForm', action='/servers/' + guild.id + '/editProgram/' + num, method = 'POST')  
                        .row
                            .col-4
                                .container
                                    h4 Program Factor
                                    p.small Summary: This is the factor that is multiplied by the base points given as well as the player's current streak for attending this program.
                                    p#currItem Currently: #{program[0]['Factor']}
                                    hr
                                    label(for='programFactor') Program Factor:
                                    input#programFactor.pb-2(name = 'programFactor', type='number', input='programFactor', step = 0.1)
                            .col-4
                                .container
                                    h4 Program Bonus Type
                                    p.small Summary: This identifies the type of bonus given for the program when the give bonuses command is used or the automatic monthly bonuses is triggered.
                                    p#currItem Currently: 
                                        if program[0]['Bonus Type'] === 0
                                            | no bonus
                                        else if program[0]['Bonus Type'] === 1
                                            | full attendance bonus
                                        else 
                                            | partial attendance bonus 
                                    hr
                                    input#programBonusType(name = 'programBonusType', hidden, value = '')
                                    label(for='programBonusT') Program Bonus Type:
                                        select#programBonusT
                                            if program[0]['Bonus Type'] === 0
                                                option(value='noBonus') no bonus 
                                                option(value='fullAttendance') full attendance bonus 
                                                option(value='partialAttendance') partial attendance bonus
                                            else if program[0]['Bonus Type'] === 1
                                                option(value='fullAttendance') full attendance bonus 
                                                option(value='noBonus') no bonus 
                                                option(value='partialAttendance') partial attendance bonus
                                            else 
                                                option(value='partialAttendance') partial attendance bonus
                                                option(value='noBonus') no bonus 
                                                option(value='fullAttendance') full attendance bonus 
                            .col-4
                                .container
                                    h4 Program Bonus Amount
                                    p.small Summary: This bonus amount is used when the give bonuses command is used or the automatic monthly bonuses is triggered.
                                    p#currItem Currently: #{program[0]['Bonus Amount']}
                                    hr
                                    label(for='programBonusAmount') Program Bonus Amount:
                                    input#programBonusAmount.pb-2(name = 'programBonusAmount', type='number', input='programBonusAmount', step = 0.1)
                        a.btn.btn-primary#returnBtn.mt-3(href='/servers/' + guild.id + '/programs', role='button') Cancel
                        input(type = 'submit', value = 'Save').btn.btn-primary.mt-3.me-2
        
        